github_getdate.sh
github_privacy.sh
mathastext.ins
mathastext.log
mathastext.tex
mathastexttestalphabets.tex
mathastexttestmathversions.tex
mathastexttestunicodelinux.tex
mathastexttestunicodemacos.tex
v13/mathastext.ins
v13/mathastext.pdf
v13/mathastext.tds.zip
