github_getdate.sh
github_privacy.sh
mathastext.ins
mathastext.log
mathastext.tex
mathastexttestalphabets.tex
mathastexttestmathversions.tex
mathastexttestunicodelinux.tex
mathastexttestunicodemacos.tex
